<h1>Detalles del Carrito</h1>

{{#if products.length}}
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                <img src="{{this.product.img}}" alt="{{this.product.title}}" style="width: 50px; height: auto;">
                {{this.product.title}}
            </td>
            <td>{{this.quantity}}</td>
            <td>{{this.product.price}}</td>
            <td>{{multiply this.quantity this.product.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Total: {{totalPrice}}</h2>

<div>
    <a href="/checkout">Proceder al Pago</a>
    <a href="/products">Volver a la Tienda</a>
</div>
{{else}}
<p>No hay productos en el carrito.</p>
<a href="/products">Ir a la tienda</a>
{{/if}}