{{!-- <h1>Detalles del Carrito</h1>

{{#if products.length}}
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                <img src="{{this.product.img}}" alt="{{this.product.title}}" style="width: 50px; height: auto;">
                {{this.product.title}}
            </td>
            <td>{{this.quantity}}</td>
            <td>{{this.product.price}}</td>
            <td>{{multiply this.quantity this.product.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Total: {{totalPrice}}</h2>

<div>
    <a href="/checkout">Proceder al Pago</a>
    <a href="/products">Volver a la Tienda</a>
</div>
{{else}}
<p>No hay productos en el carrito.</p>
<a href="/products">Ir a la tienda</a>
{{/if}} --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/indexHLB.css">
</head>

<h1>Detalles del Carrito</h1>

{{#if cart.products.length}}
    <ul>
        {{#each cart.products}}
            <li>
                <h2>{{this.product.title}}</h2>
                <p><strong>Descripción:</strong> {{this.product.description}}</p>
                <p><strong>Precio:</strong> ${{this.product.price}}</p>
                <p><strong>Código:</strong> {{this.product.code}}</p>
                <p><strong>Categoría:</strong> {{this.product.category}}</p>
                <p><strong>Stock:</strong> {{this.product.stock}}</p>
                <img src="{{this.product.img}}" alt="{{this.product.title}}" style="width: 150px;">
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}

<a href="/">Volver a la tienda</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>