{{!-- <div class="container"></div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Registro</h2>
                <form action="/register" method="post">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name">


                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name">


                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">


                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age">


                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">


                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="registerSuccessModal" tabindex="-1" role="dialog"
    aria-labelledby="registerSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerSuccessModalLabel">¡Bienvenido!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Has registrado correctamente. Por favor, inicia sesión para acceder a tu cuenta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de error -->
<div class="modal fade" id="registerErrorModal" tabindex="-1" role="dialog" aria-labelledby="registerErrorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerErrorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ha ocurrido un error al registrar. Por favor, inténtelo de nuevo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const loginSuccess = {{ loginSuccess }
    };
    const loginError = {{ loginError }};
    const registerSuccess = {{ registerSuccess }};
    const registerError = {{ registerError }};

    if (loginSuccess) {
        $('#loginSuccessModal').modal('show');
    }

    if (loginError) {
        $('#loginErrorModal').modal('show');
    }

    if (registerSuccess) {
        $('#registerSuccessModal').modal('show');
    }

    if (registerError) {
        $('#registerErrorModal').modal('show');
    }
    }); --}}

<div class="container"></div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Registro</h2>
                <form action="/register" method="post">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>

                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>

                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de éxito -->
<div style="display: none;" id="registerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="registerSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerSuccessModalLabel">¡Bienvenido!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Has registrado correctamente. Por favor, inicia sesión para acceder a tu cuenta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de error -->
<div style="display: none;" id="registerErrorModal" tabindex="-1" role="dialog" aria-labelledby="registerErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerErrorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ha ocurrido un error al registrar. Por favor, inténtelo de nuevo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const registerSuccess = {{{registerSuccess}}};
        const registerError = {{{registerError}}};

        if (registerSuccess) {
            $('#registerSuccessModal').modal('show');
        }

        if (registerError) {
            $('#registerErrorModal').modal('show');
        }
    });
</script>
